.last-reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}

.last-reviews-container ul {
  padding: 16px 0;
  width: 36rem;
}

.last-reviews-container li {
  background-color: black;
  color: white;
  border: solid 1px yellow;
  border-radius: 5px;
  padding: 16px;
  gap: 8px;
}

.last-reviews-container li #date {
  color: rgb(111, 111, 111);
}

.last-reviews-container figure {
  margin: 0;
  padding: 0;
  max-width: 200px;
}

.last-reviews-container figure img {
  width: 100%;
  min-width: 200px;
}

.last-reviews-container figure figcaption {
  text-align: center;
  font-weight: bold;
}

.last-reviews-container .review-info {
  min-width: 350px;
  padding: 0 16px;
}

.last-reviews-container .review-info div {
  padding: 2px;
}

@media only screen and (max-width: 800px) {
  .last-reviews-container .review-info {
    min-width: 100px;
    padding: 0 16px;
  }

  .last-reviews-container ul {
    padding: 16px 0;
    width: 90dvw;
  }
}

@media only screen and (max-width: 420px) {
  .last-review-card {
    display: flex;
    flex-direction: column;
  }
}
